<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
 
  
  <ion-list>
      <img src="../assets/img/stone.jpg"/>
    <ion-item>
     
      <ion-input type="text" value="" placeholder="Username" required [(ngModel)]="nombre"></ion-input>
    </ion-item>
    <ion-item>
     
      <ion-input type="password" placeholder="Password" required [(ngModel)]="password" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Show Password</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button (click)="Autentificar();" color="primary">Login</ion-button>
 
</ion-content>
