<ion-header>
  <ion-toolbar>
    <ion-title>Profesor Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--img src="../assets/img/stone.jpg"/-->
  <ion-list>
      <ion-label>Seleccionar todos</ion-label>
      <ion-checkbox  [(ngModel)]="todos" color='danger'> </ion-checkbox> 
     
    <ion-item *ngFor="let persona of lista;let i= index">
      <ion-label>{{persona.nombre}}
          <ion-badge color="primary">{{persona.puntos}}</ion-badge>
      </ion-label>
      
     
      <ion-checkbox  [(ngModel)]="selecionados[i]" color='primary'[checked]="todos"> </ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button (click)="IncrementarPuntos();" color="primary" >
    <ion-icon name="add">

    </ion-icon></ion-button>

</ion-content>
